.header-nav{
  width: 100%;
z-index: 1;
top: 70px;
left: 0%;
}
.header-li{
  width: 100%;
}
.logo{
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
}
.logo img{
  height: 70px;
}
nav{
  height: 110px;
}
