*{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
#wrapper {
  width: 100%;

  margin: 0 auto;
  line-height: 1.5;
  overflow: hidden;
  font-family: "M PLUS 1p";
}
header{
    flex-flow: row;
  margin: 0 auto;
    max-width: 1200px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#kv{
  background: url(../img/logo.jpg) no-repeat center / cover;
  width: 70%;
      max-width: 60%;
  height: 50%;
}
.btn-flat-logo {
  width: 100%;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
}
.btn-flat-logo-scrolled {
  width: 100%;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 0.5em 0.5em;
      text-decoration: none;
      color: #FFF;
      background: #00bcd4;
      transition: .4s;
      text-align: center;
}
.btn-flat-logo:hover {
  background: #1ec7bb;
}

section{
  width: 100%;
}
.section-img,.section-img02,.section-img03{
  height: 150px;
  position: absolute;
  width: 100%;
  background: url(../img/movie.jpg) center center / cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectin-img{
  background: url(../img/movie.jpg) center center / cover no-repeat fixed;
}
.section-img02{
  background: url(../img/photo.jpg) center center / cover no-repeat fixed;
}
.section-img03{
  background: url(../img/career.jpg) center center / cover no-repeat fixed;
}
.section-img h1,.section-img02 h1,.section-img03 h1{
  width: 100%;
  max-width: 1200px;
  font-size: 60px;
      text-align: center;
  color: white;
}
.section-img h1{
  text-align: right;
}
.section-img02 h1{
  text-align: left;
}
.section-movie,.section-photo,.section-portrate   {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
      margin: 0 auto;
      padding-top: 200px;
          padding-bottom: 50px;
      height: 60vh;
          flex-flow: row;
}
.section-photo{
    flex-flow: row-reverse;
  }
.works{
  width: 50%;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
  height: 100%;
  overflow: hidden;

}
.works img{
  margin:  10px ;
}
footer{
  background: #ECEAEB;
  text-align: center;
  width: 100%;
      height: 40px;
      padding-top: 15px;
            padding-bottom: 15px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr:nth-child(odd) {
    background-color: #ECEAEB;
}

th, td {
    text-align: left;
    padding: 5px 20px;
}
table{
  border-collapse: collapse;
}
h2{
  text-align: center;
}
.slide-in{
  transform: translate(-600px,0);
  transition: 1s;
}
.slide-in-right{
  transform: translate(600px,0);
  transition: 1s;
}
.isAnimate{
  transform: translate(0px,0);
}
.isScrolled {
        transition: .4s;
  width: 100%;
  display: flex;
position: fixed;
z-index: 1;
top: 0;
}
.li-scrolled{
  width: 100%;
}
.anchor{
  display: block;
  height: 40px;
  margin-top: -40px;
  visibility: hidden;
}
