#wrapper{
  width: 100%;
  margin: 0 auto;
}
#fv-area{
  flex-direction: column;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.textarea{
  margin-bottom: 20px;
}
.kv{
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: url(../img/kv.gif) no-repeat center/ cover;
}
.title{
  flex-direction: column;
}
.title h2{
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.title p{
  width: 90%;
  margin: 0 auto;
        padding: 0 0;
}
#nowandever{
  flex-direction: column;
}
#nowandever img{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#nowandever table{
  width: 100%;
}
.caption{
  width: 100%;
}
